@font-face {
  font-family: "GeistMono-Regular";
  src: url("../nonogram/GeistMono-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GeistMono-Regular";
  src: url("../nonogram/GeistMono-UltraBlack.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "GeistMono-Regular", sans-serif;
  background-color: #acb195;
  background-image: url("../nonographic/hobbykit.png");
  background-size: auto 900px; /* 배경 이미지를 가로는 자동, 세로는 900px로 설정 */
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  margin: 0;
  overflow: scroll;
}
.container-wrapper {
  display: flex;
}

.game-selection-screen {
  background-color: transparent;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 20px;
  z-index: 30;
  overflow-y: auto;
  width: 50px;
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.graphic-container {
  background-color: transparent;

  flex: 1;
  width: 700px;
  height: 100%;

  margin-top: auto;
  margin-right: auto;
  overflow-y: auto;
}

.tutorial-btn {
  background-color: transparent;
  border: none;
  z-index: 300;
  bottom: 10px;
  right: 10px;
  position: fixed;
}
.back-to-start-btn {
  background-color: transparent;
  border: none;
  z-index: 100;
  bottom: 10px;
  left: 10px;
  position: fixed;
}

.back-to-start-btn img[src$="02.png"],
.tutorial-btn img[src$="02.png"] {
  width: auto !important; /* game02.png 및 tutorial02.png 이미지의 폭을 조정합니다. */
  height: 40px !important; /* 이미지 높이를 자동으로 조정합니다. */
}

.prev-btn {
  background-color: transparent;
  border: none;
  z-index: 100;
  top: 10px;
  left: 10px;
  position: fixed;
}

.prev-btn:hover,
.back-to-start-btn:hover,
.tutorial-btn:hover,
.game-btn:hover {
  background-color: #6b7054;
  mix-blend-mode: difference;
}

.tutorial-btn img,
.back-to-start-btn img,
.prev-btn img {
  height: 30px;
  transition: transform 0.3s ease;
  opacity: 1;
}

.tutorial-btn:hover img,
.back-to-start-btn:hover img,
.prev-btn:hover img {
  transform: scale(1.1);
  opacity: 0.7;
}
.game-btn {
  background-color: transparent;
  font-family: "Geistmono-Regular", sans-serif;
  margin-right: auto;

  border: none;

  cursor: pointer;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px 20px;
  color: #414141;

  width: 30px;
  height: 30px;
  z-index: 1;
}

.graphic-container div img.image-01 {
  width: 5vw;
  height: auto;
  object-fit: cover;
  margin: 20px;
  transform: translateX(400px);
}

.graphic-container div img.image-02 {
  width: 5vw;
  height: auto;
  object-fit: cover;
  margin: 10px;
  transform: translateX(1560px);
}

.graphic-container div img.image-03 {
  width: 5vw;
  height: auto;
  object-fit: cover;
  margin: 50px;
  transform: translateX(100px);
}

.graphic-container div img.image-04 {
  width: 5vw;
  height: auto;
  object-fit: cover;

  transform: translateX(300px);
}

.graphic-container div img.image-05 {
  width: 8vw;
  height: auto;
  object-fit: cover;

  transform: translateX(1650px);
}

.graphic-container div img.image-06 {
  width: 9vw;
  height: auto;
  object-fit: cover;
  margin: 10px;
  transform: translateX(180px);
}

.graphic-container div img.image-07 {
  width: 7vw;
  height: auto;
  object-fit: cover;
  margin: 30px;
  transform: translateX(1520px);
}

.graphic-container div img.image-08 {
  width: 8vw;
  height: auto;
  object-fit: cover;

  transform: translateX(1700px);
}

.graphic-container div img.image-09 {
  width: 10vw;
  height: auto;
  object-fit: cover;
  transform: translateX(100px);
}

.graphic-container div img.image-10 {
  width: 10vw;
  height: auto;
  object-fit: cover;
  transform: translateX(1450px);
}

.graphic-container div img.image-11 {
  width: 10vw;
  height: auto;
  object-fit: cover;
  transform: translateX(1600px);
}

.graphic-container div img.image-12 {
  width: 15vw;
  height: auto;
  object-fit: cover;
  transform: translateX(300px);
}

.graphic-container div img.image-13 {
  width: 20vw;
  height: auto;
  object-fit: cover;
  transform: translateX(200px);
}

.graphic-container div img.image-14 {
  width: 10vw;
  height: auto;
  object-fit: cover;
  margin-bottom: 100px;
  transform: translateX(1400px);
}

.graphic-container div img.image-15 {
  width: 8vw;
  height: auto;
  object-fit: cover;
  margin-bottom: 100px;
  transform: translateX(150px);
}

.graphic-container div img.image-16 {
  width: 10vw;
  height: auto;
  object-fit: cover;

  transform: translateX(250px);
}

.graphic-container div img.image-17 {
  width: 10vw;
  height: auto;
  object-fit: cover;

  transform: translateX(1750px);
}

.graphic-container div img.image-18 {
  width: 8vw;
  height: auto;
  object-fit: cover;
  margin-bottom: 100px;
  transform: translateX(80px);
}

.graphic-container div img.image-19 {
  width: 10vw;
  height: auto;
  object-fit: cover;

  transform: translateX(1180px);
}
.graphic-container div {
  position: relative;
  overflow: hidden;
}

.graphic-container div img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.3s ease, filter 0.3s ease;
  cursor: pointer;
}

.graphic-container div .image-text {
  background-color: #414141;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-30%, -50%);
  opacity: 0;
  color: #acb195;
  font-size: 20px;
  font-family: "GeistMono-Regular", sans-serif;
  z-index: 1000;
  pointer-events: none;
  transition: opacity 0.3s ease;
}
/*grafik container animation*/

.graphic-container div:hover .image-text {
  opacity: 1;
  mix-blend-mode: difference;
}
.graphic-container .image-container .image-text {
  color: #acb195;
  background-color: #414141;
  transition: color 0.2s ease;
}

.graphic-container .image-container:hover .image-text {
  color: #acb195;
  background-color: #414141;
}

#overlaytutorial {
  z-index: 1000;
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(153, 153, 153, 0);
  width: auto;
  height: 100%;
  opacity: 0.8;
}
#popuptutorial {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #6b7054;
  width: 800px;
  height: 800px;
  z-index: 2000;
}
#popupclosetutorial {
  float: right;
  padding: 10px;
  cursor: pointer;
}
.popupcontenttutorial {
  padding: 10px;
}
#buttontutorial {
  cursor: pointer;
}

/* 스크롤 바의 전체 스타일링 */
::-webkit-scrollbar {
  width: 10px; /* 스크롤 바의 너비 */
}

/* 스크롤 바의 트랙 (바의 배경) 스타일링 */
::-webkit-scrollbar-track {
  background-color: transparent; /* 트랙의 색상 */
}

/* 스크롤 바 위에 마우스 오버 시 핸들 스타일링 */
::-webkit-scrollbar-thumb:hover {
  background-color: transparent; /* 마우스 오버 시의 핸들 색상 */
}

.game-selection-screen {
  order: 2; /* 기존에는 1이었던 것을 2로 변경하여 graphic-container보다 뒤로 배치 */
}

.graphic-container {
  order: 1; /* 기존에는 2이었던 것을 1로 변경하여 game-selection-screen보다 앞으로 배치 */
}
