@font-face {
  font-family: "GeistMono-Regular";
  src: url("../nonogram/GeistMono-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "GeistMono-Regular", sans-serif;
  background-color: #acb195;
  background-image: url("../nonographic/hobbykit.png");
  background-size: auto 900px; /* 배경 이미지를 가로는 자동, 세로는 900px로 설정 */
  background-position: center;
  background-repeat: no-repeat;

  height: 100vh;
  display: flex;
  margin: 0;
  overflow: scroll;
}
.start-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tutorial-btn {
  background-color: transparent;
  border: none;
  z-index: 300;
  bottom: 10px;
  right: 10px;
  position: fixed;
}
.game-selection-btn {
  background-color: transparent;
  border: none;
  z-index: 100;
  bottom: 10px;
  left: 10px;
  position: fixed;
}
.tutorial-btn img,
.game-selection-btn img,
.prev-btn img {
  height: 30px;
  transition: transform 0.3s ease;
  opacity: 1;
}
.game-selection-btn img[src$="02.png"],
.tutorial-btn img[src$="02.png"] {
  width: auto !important; /* game02.png 및 tutorial02.png 이미지의 폭을 조정합니다. */
  height: 40px !important; /* 이미지 높이를 자동으로 조정합니다. */
}

.prev-btn {
  background-color: transparent;
  border: none;
  z-index: 100;
  top: 10px;
  left: 10px;
  position: fixed;
}
.prev-btn:hover,
.game-selection-btn:hover,
.tutorial-btn:hover {
  background-color: #6b7054;
  mix-blend-mode: difference;
}
.tutorial-btn:hover img,
.game-selection-btn:hover img,
.prev-btn:hover img {
  transform: scale(1.1);
  opacity: 0.7;
}

#overlaytutorial {
  z-index: 1000;
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(153, 153, 153, 0);
  width: auto;
  height: 100%;
  opacity: 0.8;
}
#popuptutorial {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #6b7054;
  width: 800px;
  height: 800px;
  z-index: 2000;
}
#popupclosetutorial {
  float: right;
  padding: 10px;
  cursor: pointer;
}
.popupcontenttutorial {
  padding: 10px;
}
#buttontutorial {
  cursor: pointer;
}
